:root {
    
    /* Text size values */
    --title-size: 2.5em;
    --header-size: 1.875em;
    --text-size: 1.2em;

    /* Color size values */
    --dark-color: #353233;  /* Night rider */
    --light-color: #8b817f;/* Suva Grey */

    --primary-color:#b8b0bd; /* Chatelle */
    --secondary-color: #eee6e6; /* Whisper */

    --highlight-color: #5ca1b4; /* Shakespeare */

    /*Gameboy colors if we want to go in that direction*/
    --gameboy-lightest: #e0f8d0;
    --gameboy-light: #88c070;
    --gameboy-dark: #346856;
    --gameboy-darkest: #081820;

    /* Canvas */
    --canvas-border-size: .2em;


    /* How big the canvas looks to the user (It's real size is in the HTML) */
    --canvas-medium-width: 1280px;
    --canvas-medium-height: 720px;

    --canvas-small-width: 640px;
    --canvas-small-height: 360px;
}

body {
    background-color: var(--light-color);
}

canvas {

    /* Canvas properties */
    width: var(--canvas-medium-width);
    height: var(--canvas-medium-height);
    background-color: var(--secondary-color);

    /* Canvas border properties */
    border: var(--canvas-border-size) solid;
    border-color: var(--primary-color);

}